@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');
body {
  font-family: "Caveat", cursive;
  size: 6rem;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/el.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }  
}
.img-fluid{
  width: 90px;
  height: 40px;
}


